.todos {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    width: 1140px;
    justify-content: center;
}

.todo-task {
    margin: 10px;
    width: 150px;
    height: 200px;
    border-radius: 10px;
    background-color: #333;
    text-align: center;
    align-content: center;
}
