$COLOR-WHITE-TEXT: #e2e2e2;
$COLOR-WHITE-TEXT-HOVER: #ffffff;
$COLOR-YELLOW-1-BG: #ffe59e;
$COLOR-YELLOW-2-BG: #ffc962;
$COLOR-YELLOW-3-BG: #f19827;
$COLOR-CANCEL-BTN: #ffafaf;
$COLOR-CANCEL-BTN-HOVER: #e47373;
$COLOR-SILVER-MODAL: #5f6368;
$COLOR-SILVER-MODAL: #5f6368;
$COLOR-SUCSESS-MODAL: #54f862;

$COLOR-DARK-THEME-BG: #212224;
$COLOR-CARD-BG: #2f2f30;
$COLOR-CARD-BG-HOVER: #3b3b3b;
$COLOR-OVERLAY-MODAL: #0000008c;